<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="gq.yigit.foodcloud">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductInfo" />
        Set to true if your app is Standalone, that is, it does not require the handheld
        app to run.
        -->
        <activity android:name=".GetInfo" />
        <activity android:name=".LearnMore" />
        <activity
            android:name=".ProcessPop"
            android:theme="@style/AppTheme.Popup" />
        <activity
            android:name=".FarmPop"
            android:theme="@style/AppTheme.Popup" />
        <activity
            android:name=".PackagePop"
            android:theme="@style/AppTheme.Popup" />
        <activity android:name=".PopTrans1" android:theme="@style/AppTheme.Popup"/>
    </application>

</manifest>